@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form id=f1 runat=”server”>
    <br><br>
    <h3> Move The Mouse Over Me!</h3>
    <button class="btn" id="Button2" OnServerClick="Button2_Click"
    style="background-color:lightgreen;border-color:black;"
    onmouseover="this.style.backgroundColor='yellow'"
    onmouseout="this.style.backgroundColor='lightgreen'"
    runat="server">Click Me!</button>
</form>
